<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moordash.mapper.DishFlavorMapper">

    <!--    Batch insert flavor data-->
    <insert id="insertBatch">
        insert into dish_flavor (dish_id, name, value) VALUES
             <foreach collection="flavors" separator="," item="item">
                 (#{item.dishId},#{item.name},#{item.value})
             </foreach>
    </insert>

    <!-- delete flavor data associated with menu-->
    <delete id="deleteByDishId">
        delete
        from dish_flavor
        where dish_id =#{id} ;
    </delete>

    <!--    Query flavor data by dish ID-->
    <select id="getByDishId" resultType="com.moordash.entity.DishFlavor">
        select *
        from dish_flavor where dish_id=#{dishId};
    </select>
</mapper>
