<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moordash.mapper.OrderMapper">
    <!--    insert order details-->
    <insert id="insert" parameterType="Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         phone, address, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number,
         tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{consignee},
                #{estimatedDeliveryTime}, #{deliveryStatus}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

<!--    update order details-->
    <update id="update">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        where id=#{id};
    </update>

    <!--    Query orders by order number and customer ID-->
    <select id="getByNumberAndUserId" resultType="com.moordash.entity.Orders">
        select *
        from orders
        where number = #{orderNumber}
          and user_id = #{userId};
    </select>

<!--    Paginated query on conditions-->
    <select id="pageQuery" resultType="com.moordash.entity.Orders">
        select *
        from orders
        <where>
            <if test="number!=null and number!=''">and number like concat('%',#{number},'%')</if>
            <if test="phone!=null and phone!=''">and phone like concat('%',#{phone},'%')</if>
            <if test="userId!=null and userId!=''">and user_id=#{userId}</if>
            <if test="status!=null and status!=''">and status=#{status}</if>
            <if test="beginTime!=null and beginTime!=''">and order_time&gt;=#{beginTime}</if>
            <if test="endTime!=null and endTime!=''">and order_time&lt;=#{endTime}</if>
        </where>
        order by order_time desc
    </select>

<!--    Query orders by ID-->
    <select id="getById" resultType="com.moordash.entity.Orders">
        select *
        from orders
        where id = #{id};
    </select>

<!--    Query amount of orders in different status-->
    <select id="countStatus" resultType="java.lang.Integer">
        select count(*)
        from orders where status=#{status};
    </select>

<!--    Query orders by status and order placement time-->
    <select id="getByStatusAndOrderTime" resultType="com.moordash.entity.Orders">
        select *
        from orders where status=#{status} and order_time&lt;#{orderTime};
    </select>

<!--    Sum total turnover by dynamic conditions-->
    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
        </where>
    </select>

<!--    Count order amount by dynamic conditions-->
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from orders
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
        </where>
    </select>

<!--    Query products' sales ranking-->
    <select id="getSalesTop10" resultType="com.moordash.dto.GoodsSalesDTO">
        select od.name name,sum(od.number) number from order_detail od ,orders o
        where od.order_id = o.id
        and o.status = 5
        <if test="begin != null">
            and order_time &gt;= #{begin}
        </if>
        <if test="end != null">
            and order_time &lt;= #{end}
        </if>
        group by name
        order by number desc
        limit 0, 10
    </select>
</mapper>